html, body {
  font-family: Futura, sans serif;
  background-color: #010713;
  overflow-x: hidden;
  color: #fff;
}

a {
  text-decoration: none;
}


/*--- Navbar ---*/


.nav-link {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.navbar-nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: mediumvioletred;
  transition: transform 0.13s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
}
.navbar-toggler {
  border: none;
}
.offcanvas {
  background-color: #010713;
}
.offcanvas-body {
  padding-top: 80px;
  text-align: center;
}
 

/* --- Hero --- */


.side-social {
  text-align: start;
  list-style: none;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  opacity: 65%;
  padding-left: 40px;
}
.side-social li {
  margin-bottom: 20px;
  font-size: 23px;
}
.side-social a {
  text-decoration: none;
  color: #fff;
}
.side-social a:hover {
  color: #c71585;
}
.in-front {
  z-index: 1100;
}
.lang {
  font-size: 12px;
  font-weight: 200;
  padding-top: 15px;
  padding-left: 0;
}
.lang li {
  display: inline;
  padding: 5px;
}
.lang a {
  color: #fff;
}
.lang a:hover {
  color: #c71585;
}

/* --- Hero --- */

.hero {
  position: relative;
  z-index: 1; 
  width: 100vw;
  height: 100vh;
  margin-top: -70px;
 
}
.hero .hero-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/pawel-czerwinski-uYWQNAvdWpc-unsplash.jpg) center center;
  background-size: cover;
  opacity: 75%;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero h1 {
  font-size: 65px;
}
.hero-text {
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-shadow: 3px 3px 10px black;
}

.btn-hire {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: mediumvioletred;
  border: solid 1px mediumvioletred;
  padding: 8px 20px;
}
.btn-hire a {
  color: #c71585;
}
.btn-hire a:hover {
  background-color: #c71585;
  border: none;
  color: white;
}
.btn-hire:hover {
  background-color: #c71585;
  border-color: #c71585;
  color: #fff;
}
.arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}


/*--- Main ---*/


.main-headers {
  text-align: center;
  color: #c71585;
  font-weight: 400;
  padding-top: 200px;
  margin-bottom: 150px;
  font-size: 55px;
}
.avatar {
  height: 230px;
  border-radius: 50%;
  border: #c71585 solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-me {
  font-size: 22px;
  font-weight: 200;
  width: 85%;
}
.projects .img-card {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.apple {
  background-image: url(../images/apple.jpg);
}
.airbnb {
  background-image: url(../images/airbnb.webp);
}
.project3 {
  background-image: url(https://picsum.photos/399/399);
}
.project4 {
  background-image: url(https://picsum.photos/401/401);
}
.html {
  color: #d84a24;
}
.css {
  color: #0769b0;
}

.projects ul {
  padding-left: 0%;
}
.projects li {
  display: inline-block;
}
.text-box {
  text-align: center;
  color: #fff;
}
.small {
  font-weight: 200;
  opacity: 50%;
  margin-bottom: 9px;
}

.giga-text {
  position: absolute;
  opacity: .09;
  font-size: 400px;
  font-weight: 600;
  opacity: .05;
  z-index: 0;
}
#about-giga {
  bottom: -870px;
  right: -200px;
}
#contact-giga {
  bottom: -2600px;
  right: -500px;
}
#work-giga {
  bottom: -1750px;
  right: 400px;
}
.animate__animated.animate__pulse {
  --animate-duration: 5s;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 5s;
}

/*--- Contact ---*/


.details {
  width: 30%;
}
.message {
  width: 60%;
}
.send {
  background-color: mediumvioletred;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.send:hover {
  border-color: #c71585;
  color: #c71585;
}
.form-label {
  color: mediumvioletred;
}
.form-control {
  background-color: #E8F0F2;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reach-out {
  text-align: center;
  font-weight: 200;
  margin-top: -110px;
  margin-bottom: 150px;
  font-size: 19px;
}

::placeholder {
  font-weight: 200;
}
.copyright {
  margin-top: 215px;
  padding-bottom: 20px;
  font-weight: 200;
  opacity: 50%;
}
footer a {
  color: #c71585;
}
footer a:hover {
  text-decoration: underline;
  color: #c71585;
}



/*-- Media queries --*/

@media (max-width: 767px) {
  .nav-link {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .none {
    display: none;
  }
  .lang {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .side-social {
    display: none;
  }
  .main-headers {
    padding-top: 70px;
    margin-bottom: 70px;
    font-size: 30px;
  }
  .avatar {
    height: 170px;
  }
  .about-me {
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .message {
    width: 100%;
  }
  .reach-out {
    margin-top: -50px;
    margin-bottom: 70px;
    font-size: 19px;
  }
  .copyright {
    margin-top: 100px;
  }
}

@media (max-width: 992px) { 
  .mobile-contacts {
    padding: 0;
    word-spacing: 15px;
  }
  .mobile-contacts li {
    display: inline;
  }
  .mobile-contacts a {
    text-decoration: none;
    color: #fff;  
    opacity: 50%;
    font-size: 25px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .btn-hire {
    position: absolute;
    top: 75%;
  }
  .main-headers {
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 35px;
  }
  .avatar {
    height: 130px;
  }
  .about-me {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  .mobile {
    padding-left: 35px;
    padding-right: 35px;
  } 
  .reach-out {
    margin-top: -10px;
    margin-bottom: 70px;
    font-size: 19px;
  }
  .copyright {
    margin-top: 80px;
  }
  .mobile-socials {
    padding: 0;
    word-spacing: 15px;
  }
  .mobile-socials li {
    display: inline;
  }
  .mobile-socials a {
    text-decoration: none;
    color: #fff;  
    opacity: 50%;
    font-size: 25px;
  }
}


@media (min-width: 768px) {
  .mobile-contacts {
    display: none;
  }
}

@media (max-width: 1180px) {
  .giga-text {
    display: none;
  }

}
@media (max-width: 1179px) {
  .side-social {
    display: none;
  }
}
@media (max-width: 576px) {
  .none {
    display: none;
  }
}
